In [190]:
import pandas as pd
from datetime import date

cms = 'wordpress'

# define empty list
updates = []

In [191]:
with open('/Users/sarahgerman/sites/upstreams/releases/' + cms + '.txt', 'r') as filehandle:
    updates = [current_update.rstrip() for current_update in filehandle.readlines()]
    
print(updates)

['1597190788', '1591833839', '1588200060', '1585719938', '1576712021', '1576198778', '1573609236', '1571091073', '1567651496', '1560885733', '1558466572', '1557271389', '1552447565', '1550797927', '1547062788', '1545341487', '1544676750', '1544135369', '1544736882', '1533255352', '1530812303', '1526587188', '1523034089', '1522852113', '1517944421', '1517868873', '1516154124', '1511994594', '1510807303', '1509473248', '1505863083', '1502743188', '1496958449', '1494976241', '1493056175', '1488831491', '1485460320', '1484168055', '1481834180', '1473275582', '1471378932', '1466617772', '1462564069', '1461714029', '1460503060', '1454448330', '1452125433', '1449701328', '1442338139', '1440002967', '1438712835', '1437692633', '1431021060', '1430176412', '1429816791', '1429666574', '1424378224', '1424372703', '1418943071', '1416514663', '1409853264', '1392848195', '1392417501', '1392847568', '1206807543', '1138831877', '1118112479']

In [196]:
updates_df = pd.DataFrame(updates, columns=["Release date"])
updates_df = updates_df.set_index("Release date").sort_index()
updates_df.index = pd.to_datetime(updates_df.index, unit='s')

In [197]:
updates_df.index

DatetimeIndex(['2005-06-07 02:47:59', '2006-02-01 22:11:17',
               '2008-03-29 16:19:03', '2014-02-14 22:38:21',
               '2014-02-19 22:06:08', '2014-02-19 22:16:35',
               '2014-09-04 17:54:24', '2014-11-20 20:17:43',
               '2014-12-18 22:51:11', '2015-02-19 19:05:03',
               '2015-02-19 20:37:04', '2015-04-22 01:36:14',
               '2015-04-23 19:19:51', '2015-04-27 23:13:32',
               '2015-05-07 17:51:00', '2015-07-23 23:03:53',
               '2015-08-04 18:27:15', '2015-08-19 16:49:27',
               '2015-09-15 17:28:59', '2015-12-09 22:48:48',
               '2016-01-07 00:10:33', '2016-02-02 21:25:30',
               '2016-04-12 23:17:40', '2016-04-26 23:40:29',
               '2016-05-06 19:47:49', '2016-06-22 17:49:32',
               '2016-08-16 20:22:12', '2016-09-07 19:13:02',
               '2016-12-15 20:36:20', '2017-01-11 20:54:15',
               '2017-01-26 19:52:00', '2017-03-06 20:18:11',
               '2017-04-24 17:49:35', '2017-05-16 23:10:41',
               '2017-06-08 21:47:29', '2017-08-14 20:39:48',
               '2017-09-19 23:18:03', '2017-10-31 18:07:28',
               '2017-11-16 04:41:43', '2017-11-29 22:29:54',
               '2018-01-17 01:55:24', '2018-02-05 22:14:33',
               '2018-02-06 19:13:41', '2018-04-04 14:28:33',
               '2018-04-06 17:01:29', '2018-05-17 19:59:48',
               '2018-07-05 17:38:23', '2018-08-03 00:15:52',
               '2018-12-06 22:29:29', '2018-12-13 04:52:30',
               '2018-12-13 21:34:42', '2018-12-20 21:31:27',
               '2019-01-09 19:39:48', '2019-02-22 01:12:07',
               '2019-03-13 03:26:05', '2019-05-07 23:23:09',
               '2019-05-21 19:22:52', '2019-06-18 19:22:13',
               '2019-09-05 02:44:56', '2019-10-14 22:11:13',
               '2019-11-13 01:40:36', '2019-12-13 00:59:38',
               '2019-12-18 23:33:41', '2020-04-01 05:45:38',
               '2020-04-29 22:41:00', '2020-06-11 00:03:59',
               '2020-08-12 00:06:28'],
              dtype='datetime64[ns]', name='Release date', freq=None)

In [198]:
updates_df.head()

Empty DataFrame
Columns: []
Index: [2005-06-07 02:47:59, 2006-02-01 22:11:17, 2008-03-29 16:19:03, 2014-02-14 22:38:21, 2014-02-19 22:06:08]

In [199]:
two_years_ago = date.today() - pd.DateOffset(years=2)
updates_df.truncate(before=two_years_ago)

Empty DataFrame
Columns: []
Index: [2018-12-06 22:29:29, 2018-12-13 04:52:30, 2018-12-13 21:34:42, 2018-12-20 21:31:27, 2019-01-09 19:39:48, 2019-02-22 01:12:07, 2019-03-13 03:26:05, 2019-05-07 23:23:09, 2019-05-21 19:22:52, 2019-06-18 19:22:13, 2019-09-05 02:44:56, 2019-10-14 22:11:13, 2019-11-13 01:40:36, 2019-12-13 00:59:38, 2019-12-18 23:33:41, 2020-04-01 05:45:38, 2020-04-29 22:41:00, 2020-06-11 00:03:59, 2020-08-12 00:06:28]

In [202]:
CSV_PATH = "../csv"
chats_df = pd.read_csv(CSV_PATH + "/intercom/aug-2018-aug-2020.csv", low_memory=False)
chats_df.tail()

,Conversation ID,Conversation URL,Title,Created at,Last updated at,Time Zone,Conversation status,Channel,Inbound/Outbound,Source,...,Closed by (name),Teammates participated,Time to first reply (seconds),Time to last close (seconds),Teammate replies,Reopened,Closed,Conversation rating requested,Conversation rating,Conversation rating remark
93743,51746600088951,https://app.intercom.com/a/apps/xkegk7cr/inbox...,NaN,2020-08-01 07:04:41,2020-08-01 07:16:46,America/Los_Angeles,Closed,Desktop,Inbound,NaN,...,NaN,NaN,NaN,NaN,0,0,1,no,NaN,NaN
93744,51746600101312,https://app.intercom.com/a/apps/xkegk7cr/inbox...,NaN,2020-08-08 09:56:35,2020-08-08 09:57:20,America/Los_Angeles,Closed,Desktop,Outbound,NaN,...,NaN,NaN,NaN,NaN,0,0,1,no,NaN,NaN
93745,51746600105985,https://app.intercom.com/a/apps/xkegk7cr/inbox...,NaN,2020-08-11 10:16:31,2020-08-11 10:32:00,America/Los_Angeles,Closed,Desktop,Outbound,NaN,...,Kayvaan Ghovanloo,Kayvaan Ghovanloo,18.0,859.0,5,0,1,no,NaN,NaN
93746,51746600108883,https://app.intercom.com/a/apps/xkegk7cr/inbox...,NaN,2020-08-12 14:27:43,2020-08-12 14:33:26,America/Los_Angeles,Closed,Desktop,Inbound,NaN,...,Dan Grant,NaN,NaN,343.0,0,0,1,no,NaN,NaN
93747,51746600114389,https://app.intercom.com/a/apps/xkegk7cr/inbox...,NaN,2020-08-15 15:29:18,2020-08-15 17:20:40,America/Los_Angeles,Closed,Desktop,Inbound,NaN,...,NaN,NaN,NaN,NaN,0,0,1,no,NaN,NaN